<!DOCTYPE html >

<html>
<head>
	<title>@Title</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link href="@(PathToCss)" rel="stylesheet" media="all" type="text/css" />
	<script src="@(PathToJs)" type="text/javascript"></script>
</head>
<body onload="prettyPrint()">
	<div id="container">
		@if (@Sources.Count > 1) {
			<div id="jump_to">
				Jump To &hellip;
				<div id="jump_wrapper">
					<div id="jump_page">
						@for (var i = 0; i < Sources.Count; i++)
						{
							if (Sources[i].OutputPath != null)
							{
								<a class="source" href="@GetSourcePath(Sources[i].InputPath)">
									@Sources[i].InputPath.Substring(2)
								</a>
							}
						}
					</div>
				</div>
			</div>
		}
		
		@if (RawHtml == null && Sections == null)
		{
			<h1>Index</h1>
			<ul>
				@for (var i = 0; i < Sources.Count; i++)
				{
					<li>
						@if (Sources[i].OutputPath != null)
						{
							<a href="@GetSourcePath(Sources[i].InputPath)">
								@Sources[i].InputPath.Substring(2)
							</a>
						}
						else
						{
							<span>
								@Sources[i].InputPath.Substring(2)
							</span>
						}
					</li>
				}
			</ul>
		}
		
		@if (RawHtml != null)
		{
			@RawHtml
		}
		
		@if (Sections != null)
		{
			<div id="background"></div>

			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th class="docs">
							<h1>@Title</h1>
						</th>
						<th class="code"></th>
					</tr>
				</thead>
				<tbody>
					@for (var i = 0; i < Sections.Count; i++) {
						<tr id="section_@(i + 1)">
							<td class="docs">
								<div class="pilwrap">
									<a class="pilcrow" href="#section_@(i + 1)">&#182;</a>
								</div>
								@Sections[i].DocsHtml
							</td>
							<td class="code">
								<pre><code class='prettyprint'>@Sections[i].CodeHtml</code></pre>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
		
	</div>
</body>
</html>
